 body {
            font-family: Arial, sans-serif;
            background: #0c2741;
            margin: 0;
            padding: 20px;
        }

        h1 {
            text-align: center;
            color: aliceblue;
        }

        .search-box {
            text-align: center;
            margin-bottom: 20px;
            
        }

        input {
            padding: 10px;
            width: 250px;
            font-size: 16px;
        }

        button {
            padding: 10px 15px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 60px;
        }

        .container {
            max-width: 900px;
            margin: auto;
            
        }

        .profile {
            background: rgb(150, 65, 203);
            padding: 20px;
            border-radius: 60px;
            display: flex;
            gap: 20px;
            margin-bottom: 20px;
        }

        .profile img {
            width: 120px;
            border-radius: 50%;
        }

        .repos {
            background: rgb(150, 65, 203);
            padding: 20px;
            border-radius: 60px;
        }

        .repo {
            border-bottom: 1px solid #fdfdfd;
            padding: 10px 0;
        }

        .repo:last-child {
            border-bottom: none;
        }

        a {
            text-decoration:underline;
            color: #d6af03;
        }

        .error {
            color: red;
            text-align: center;
            margin-top: 10px;
        }